body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div-container {
  padding: 10px;
  display: inline-flex;
  width: 100%;
}
.filter {
  background-color: #ccc;
}
.list {
  margin: 0;
  padding-left: 1rem;
}
.list
  .product {
    min-height: 23rem;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    background-color: #FFFAF1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
    .product-img {
      text-align: center;
    }
  .sort-icon img{
    width: 1rem;
    cursor: pointer;
  }
